ul {
  width: 60%;
  display: inline-block;
  margin-right: 5%;
  list-style: none;
}
li {
  text-align: center;
  height: 150px;
  border: solid 4px black;
  background-color: rgb(216, 125, 125);
  color: orange;
  margin-bottom: 5px;
  font-size: 60px;
}
